In [1]:
# Import the dependencies and Setup.
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Clyde River,CA,2022-04-10 00:50:37,70.4692,-68.5914,1.63,85,100,3.44
1,1,Ushuaia,AR,2022-04-10 00:47:10,-54.8000,-68.3000,47.86,71,40,19.57
2,2,Jamestown,US,2022-04-10 00:48:59,42.0970,-79.2353,35.19,46,75,6.91
3,3,Mataura,NZ,2022-04-10 00:50:38,-46.1927,168.8643,61.20,51,7,4.79
4,4,Yerbogachen,RU,2022-04-10 00:50:38,61.2767,108.0108,23.47,86,14,8.88

In [3]:
# 1 caveat to using gmaps: The data used for mapping must be either an 
# integer or a floating-point decimal number.  

# Get the data types for the columns of the DataFrame.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()

# Google heatmaps do not plot negative numbers.  If you have a maximim temp
# that is less than 0, you will get an invalidWeightExceptio error for this
# line of code.  To remove the negative temperatures we can use a for loop
# to iterate through the max_temp and add temps greater than 0 to a new list

# Assign the heatmap variable using list comprehension to replace the for loop
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Adjust Heatmap Zoom, Intensity, and Point Radius.  Adding in the 
# geographic center of the Earth and adding a zoom level so only 1 map of 
# Earth is shown.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Create a Heatmap of % Humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Create a Heatmap of % Cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Create a Heatmap of Wind Speed.
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Create input statements for customer's to enter temperatures into and 
# convert the values to floating-point decimals.

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria using the loc
# method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Alyangula,AU,2022-04-10 00:50:39,-13.8483,136.4192,87.67,62,100,3.44
9,9,Saint-Joseph,RE,2022-04-10 00:50:40,-21.3667,55.6167,75.58,83,31,12.46
10,10,Saint-Philippe,RE,2022-04-10 00:50:41,-21.3585,55.7679,76.59,84,59,11.90
12,12,Samarai,PG,2022-04-10 00:50:42,-10.6167,150.6667,84.72,74,48,16.71
13,13,Hobart,AU,2022-04-10 00:46:00,-42.8794,147.3294,76.05,50,75,10.36
14,14,Hithadhoo,MV,2022-04-10 00:50:42,-0.6000,73.0833,83.14,74,26,10.60
15,15,Vao,NC,2022-04-10 00:50:43,-22.6667,167.4833,77.81,81,94,22.08
16,16,Kapaa,US,2022-04-10 00:50:43,22.0752,-159.3190,82.38,75,20,13.80
17,17,Trincomalee,LK,2022-04-10 00:50:43,8.5711,81.2335,78.89,85,100,10.87
24,24,Kavaratti,IN,2022-04-10 00:50:46,10.5669,72.6420,83.05,75,100,6.31

In [12]:
# Determine of the preferred_cities_df DataFrame has any null values for any
# of the rows. - other methods to find info are[.count() & .isnull().sum()]
preferred_cities_df.notnull().sum()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [13]:
# Create DateFrame called hotel_df to store hotel names along with city, 
# country, max temp, and coordinates by using the preferred_cities_df.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp",  "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
6        Alyangula      AU     87.67 -13.8483  136.4192
9     Saint-Joseph      RE     75.58 -21.3667   55.6167
10  Saint-Philippe      RE     76.59 -21.3585   55.7679
12         Samarai      PG     84.72 -10.6167  150.6667
13          Hobart      AU     76.05 -42.8794  147.3294
14       Hithadhoo      MV     83.14  -0.6000   73.0833
15             Vao      NC     77.81 -22.6667  167.4833
16           Kapaa      US     82.38  22.0752 -159.3190
17     Trincomalee      LK     78.89   8.5711   81.2335
24       Kavaratti      IN     83.05  10.5669   72.6420

In [14]:
# Use Google Places Nearby Search to find the nearest hotel to geographic
# coordinates.

# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# To find out how many hotels were included in the results use len function.
len(hotels["results"])

20

In [16]:
# Print the hotel DataFrame to verify hotel name was added.
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Alyangula,AU,87.67,-13.8483,136.4192,Groote Eylandt Lodge
9,Saint-Joseph,RE,75.58,-21.3667,55.6167,"""Plantation Bed and Breakfast"
10,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
12,Samarai,PG,84.72,-10.6167,150.6667,Nuli Sapi
13,Hobart,AU,76.05,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
...,...,...,...,...,...,...
551,Bull Savanna,JM,75.52,17.8868,-77.5902,Big Red's
555,Saint George,US,84.43,37.1041,-113.5841,Best Western Plus Abbey Inn
556,Harper,LR,79.92,4.3750,-7.7169,Screensaver
559,Murray Bridge,AU,86.13,-35.1167,139.2667,Balcony On Sixth Lodge
566,Acapulco,MX,80.42,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [17]:
# Create a Maximum Temperature Heatmap from the hotel DataFrame.
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add the markets for each city on top of the heatmap by editing the code.
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a pop-up marker for each city that displays the hotel name, city name,
# country, and maximum temperature.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))